# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\st185229\IdeaProjects\nd035-C2-Web-Services-and-APIs-Exercises-and-Project-Starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
